<picture class="swiper-slide">
  <source type="image/webp" media="(max-width: 500px) and (min-height: 500px)" srcset="{{.Mobile.URL}}?fm=webp&w=500&h=500&q=70&fit=fill">
  <source type="image/png" media="(max-width: 500px) and (min-height: 500px)" srcset="{{.Mobile.URL}}?q=70&w=500&h=500&fit=fill">

  <source type="image/webp" media="(min-width: 500px) and (max-width: 1000px) and (min-height: 700px)" srcset="{{.Mobile.URL}}?fm=webp&w=900&h=600&q=70&fit=fill">
  <source type="image/png" media="(min-width: 500px) and (max-width: 1000px) and (min-height: 700px)" srcset="{{.Mobile.URL}}?q=70&w=900&h=600&fit=fill">

  <source type="image/webp" media="(min-width: 1000px) and (max-width: 2000px) and (max-height: 1000px)" srcset="{{.Desktop.URL}}?fm=webp&w=1600&h=800&q=50&fit=fill">
  <source type="image/png" media="(min-width: 1000px) and (max-width: 2000px) and (max-height: 1000px)" srcset="{{.Desktop.URL}}?q=50&w=1600&h=800&fit=fill">

  <source type="image/webp" media="(min-width: 2000px)" srcset="{{.Desktop.URL}}?fm=webp&w=2560&h=1000&q=50&fit=fill">
  <source type="image/png" media="(min-width: 2000px)" srcset="{{.Desktop.URL}}?q=50&w=2560&h=1000&fit=fill">

  <img src="{{.Desktop.URL}}" alt="{{.Desktop.Description}}">
</picture>
